<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta property="og:url"                content="http://savevscon.uk" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="SavevsCon" />
<meta property="og:description"        content="A small, fresh RPG convention located in Plymouth, UK" />
<meta property="og:image"              content="http://{{ site.github.url }}/assets/savevscon-logo.png" />

<link href="https://fonts.googleapis.com/css?family=Eczar:700|Gentium+Basic:400,400i" rel="stylesheet">
<link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
<title>{{ site.title }}</title>
