$small: new-breakpoint(min-width 320px max-width 480px 4);
$medium: new-breakpoint(min-width 480px max-width 1280px 4);

.row {
  @include outer-container;
  @include media($small) {
    padding-left: 1em;
    padding-right: 1em;
  }
  @include media($medium) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.columns {
  &--12{
    @include span-columns(12);
  }
}
